<h1>People</h1>
<table>
  <thead>
    <th>Name</th>
    <th>Birthdate</th>   
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td>
          <a href="<%= "/people/#{person.id}" %>">
            <%= "#{person.firstname} #{person.lastname}" %>
          </a>
        </td>
        <td>
          <%= "#{person.birthdate}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>